@model IEnumerable<SeminarskiRad.Models.Seminar>

@{
    ViewBag.Title = "Upisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Ponuda seminara</h2>
<br />
<hr />
@Html.Partial("_PonudaSearch")
<hr />
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
    </tr>

@foreach (var item in Model) {

    if (item.Popunjen == false)
    {

        <tr>
            <td>
                @Html.ActionLink("Odaberi", "UpisPolaznika", new { id = item.IdSeminar })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
        </tr>
    }
}

</table>
