@model IPagedList<SeminarskiRad.Models.Seminar>

@using PagedList;

@using PagedList.Mvc;

@{
    ViewBag.Title = "Upiši seminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Ponuda seminara</h2>

<hr />
@Html.Partial("_PonudaSearch")
<br />
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.First().Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Datum)
        </th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-center">
                <br />
                <h3><b>Traženi unos nije pronađen</b></h3>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {

            if (item.Popunjen == false)
            {

                <tr>
                    <td>
                        @Html.ActionLink("Odaberi", "UpisPolaznika", new { id = item.IdSeminar })
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Naziv)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                </tr>
            }
        }

    }

</table>

<div class="pagination" style="margin-left:auto">
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, opcija = Request.QueryString["opcija"], pretraga = Request.QueryString["pretraga"] }))
</div>

