@model IEnumerable<SeminarskiRad.Models.Predbiljezba>

@{
    ViewBag.Title = "Predbilježbe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Pregled predbilježbi</h2>
<br />
<div>
    @Html.Partial("_PredbiljezbaSearch")
</div>

<h3 class="text-right">Neobrađene predbilježbe</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seminar.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPrijave)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="8" class="text-center">
                <br />
                <h4><b>Nema neobrađenih predbilježbi</b></h4>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model.Where(n => n.StatusPrijave == SeminarskiRad.Models.Predbiljezba.Status.Neobrađena))
        {
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Seminar.Naziv)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Ime)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Prezime)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPrijave)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Uredi", new { id = item.IdPredbiljezba })
            </td>
            <td>
                @Html.ActionLink("Detalji", "Detalji", new { id = item.IdPredbiljezba })
            </td>
            <td>
                @Html.ActionLink("Obriši", "Delete", new { id = item.IdPredbiljezba })
            </td>
        </tr>
        }
    }
    

</table>

<hr />
<br />
<h3 class="text-right">Prihvaćene predbilježbe</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seminar.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPrijave)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="8" class="text-center">
                <br />
                <h4><b>Nema prhvaćenih predbilježbi</b></h4>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model.Where(p => p.StatusPrijave == SeminarskiRad.Models.Predbiljezba.Status.Prihvaćena))
        {
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Seminar.Naziv)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Ime)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Prezime)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPrijave)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Uredi", new { id = item.IdPredbiljezba })
            </td>
            <td>
                @Html.ActionLink("Detalji", "Detalji", new { id = item.IdPredbiljezba })
            </td>
            <td>
                @Html.ActionLink("Obriši", "Delete", new { id = item.IdPredbiljezba })
            </td>
        </tr>
        }
    }
    

</table>

<hr />
<br />
<h3 class="text-right">Odbijene predbilježbe</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seminar.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPrijave)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="8" class="text-center">
                <br />
                <h4><b>Nema odbijenih predbilježbi</b></h4>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model.Where(o => o.StatusPrijave == SeminarskiRad.Models.Predbiljezba.Status.Odbijena))
    {
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Seminar.Naziv)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Ime)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Prezime)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPrijave)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Uredi", new { id = item.IdPredbiljezba })
            </td>
            <td>
                @Html.ActionLink("Detalji", "Detalji", new { id = item.IdPredbiljezba })
            </td>
            <td>
                @Html.ActionLink("Obriši", "Delete", new { id = item.IdPredbiljezba })
            </td>
        </tr>
        }
    }

    

</table>
