@model IEnumerable<SeminarskiRad.Models.Seminar>


@{
    ViewBag.Title = "Seminari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Seminari</h2>

<hr />
@Html.Partial("_SeminarSearch")
<br />

<h3 class="text-right">Nepopunjeni seminari</h3>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojPolaznika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Popunjen)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="6" class="text-center">
                <br />
                <h3><b>Traženi unos nije pronađen</b></h3>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            if (item.Popunjen == false)
            {
                <tr>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Naziv)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojPolaznika)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Popunjen)
                    </td>
                    <td>
                        @Html.ActionLink("Uredi", "Edit", new { id = item.IdSeminar })
                    </td>
                    <td>
                        @Html.ActionLink("Detalji", "Details", new { id = item.IdSeminar })
                    </td>
                    <td>
                        @Html.ActionLink("Obriši", "Delete", new { id = item.IdSeminar })
                    </td>
                </tr>
            }

        }
    }
</table>
<h3 class="text-right">Popunjeni seminari</h3>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojPolaznika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Popunjen)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="6" class="text-center">
                <br />
                <h3><b>Traženi unos nije pronađen</b></h3>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            if (item.Popunjen == true)
            {
                <tr>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Naziv)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojPolaznika)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Popunjen)
                    </td>
                    <td>
                        @Html.ActionLink("Uredi", "Edit", new { id = item.IdSeminar })
                    </td>
                    <td>
                        @Html.ActionLink("Detalji", "Details", new { id = item.IdSeminar })
                    </td>
                    <td>
                        @Html.ActionLink("Obriši", "Delete", new { id = item.IdSeminar })
                    </td>
                </tr>
            }

        }
    }
</table>

