<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("IT Učilište", "Index", "Predbiljezba", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                <li>@Html.ActionLink("Seminari", "Index", "Seminar")</li>
                <li>@Html.ActionLink("Novi seminar", "Create", "Seminar")</li>
                <li>@Html.ActionLink("Predbilježbe", "Predbiljezbe", "Predbiljezba")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

